* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
html{
    height: 1000px;
}
body{
    background-color: white;
    max-width: 1280px;
    margin: auto;
    
}
header{
    width: 1280px;
    height: 80px;
    position: fixed;
    z-index: 99999;
}

header svg {
    transform: scale(1.2);
    position: absolute;
    left: 100px;
    margin-top: 20px;

}

header.abajo{
    width: 1280px;
    height: 80px;
    /*  background-color: rgba(255, 255, 255, 0.8);    */
    background: linear-gradient(180deg, rgba(84, 153, 248, 0.9) 0%, rgba(84, 153, 248, 0.5) 100%);
    padding-bottom: 20px;
}

.btnComprar{
    margin-top: 13px;
    position: absolute;
    left: 1000px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;

    color: #02187E;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes scroll {   /* es mover el background position de 0 a la posicion que queremos va de 0 a la que queremos continuamente*/
    0% { background-position-x:  0%; }
    100% { background-position-x: 500%; }
} 





nav{
    width: 100%;
}
/*  TDDOS LOS LAYER DEBEN TENRE UNA PROPIEDAD EN COMUN  */
.layer{
    width: 1280px;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: repeat-x; /*hace que la imagen cuando se 
                            termina en x se pone devuelta la imagen la pone el browser automaticamente*/
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.layer-6,
.layer-5,
.layer-4,
.layer-2,
.layer-1 {
  opacity: 0;
}

/*  en cada layer cambiamos la velocidad de la animacion    */
.layer-10{
    background-image: url("../images/primerCielo.png");
    animation: scroll 10s infinite linear ;
}

.layer-9{
    background-image: url("../images/primerEdificio.png");
    width: 543.5px;
    height: 213.5px;
    margin-top: 615px;
    margin-left: 380px;
}

.layer-8{
    background-image: url("../images/segundoEdificioIzquierda.png");
    margin-top: 134px;
    width: 452px;
    height: 720px;
    margin-left: -53px;
}

.layer-7{
    background-image: url("../images/tercerEdificoDerecha.png");
    width: 374px;
    height: 727.5px;
    margin-top: 115px;
    margin-left: 905px;
}
.layer-6{
    background-image: url("../images/primerChicaSpider.png");
    animation-name: scale;
    width: 360px;
    height: 444px;
    margin-left: 95px;
    margin-top: 338px;
    animation: fadeIn 1s forwards;
}
.layer-5{
    background-image: url("../images/spiderman.png");
    animation-name: scale;
    width: 465px;
    height: 465px;
    margin-left: 380px;
    margin-top: 420px;
    animation: fadeIn 1s forwards;
    transition: transform 0.2s ease-out; /* Agregar transición para suavizar el efecto */
}
.layer-4{
    background-image: url("../images/spidermanBlack.png");
    animation-name: scale;
    width: 393px;
    height: 393px;
    margin-left: 680px;
    margin-top: 350px;
    animation: fadeIn 1s forwards;

}
.layer-3{
    position: absolute;
    background-image: url("../images/LOGO.png");
    width: 590px;
    height: 301px;
    margin-left: 345px;
    margin-top: 100px;
    transition: width 0.4s;
    z-index: 9990;
}

.layer-3.small {
    position: absolute;
    left: 200px;
    top: -90px;
    padding-top: 10px;
    width: 133px;
    height: 68px;
    z-index: 9999;

}

.layer-2{
    background-image: url("../images/telarañaDerecha.png");
    width: 450.817px;
    height: 627.274px;
    margin-left: -50px;
    margin-top: 395px;
    transform: rotate(65.403deg);
    animation: fadeIn 2s forwards;

}
.layer-1{
    background-image: url("../images/Untitled-5\ 3.png");
    width: 316.659px;
    height: 372.442px;
    margin-left: 962px;
    margin-top: 385px;
    animation: fadeIn 2s forwards;
}

.container svg{
    margin-top: 700px;
}
.primerTitulo{
    width: 646px;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; /* 56.7px */
    position: absolute;
    top: 1000px;
    left: 60px;
}
.primerTexto{
    width: 586px;
    height: 154px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 1140px;
    left: 60px;
}
.duendeVerde{
    position: absolute;
    transform: scaleX(-1);
    top: 890px;
    left: 650px;
    width: 553px;
    height: 921px;
}
.imagenPrimerTexto{
    position: absolute;
    top: 1320px;
    right: 470px;
    width: 751.649px;
    height: 413.131px;
    transform: rotate(-2.222deg);
}

.seccion-2{
    width: 1280px;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 120px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.seccion-2 img{
    width: 332.96px;
    height: 302.691px;
}

.seccion-2 .contenedor{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    margin-left: 40px;
}

.contenedor p{
    margin-top: 15px;
    width: 333px;

}

.contenedor-1 p{
    height: 218px; 
}

.contenedor-2 p{
    height: 217px;
}

.contenedor-3 p{
    height: 217px;
}


.seccion-3-primerImagen{
    position: absolute;
    top: 2500px;
    width: 1280px;
    height: 566px;
}

.seccion-3-segundaImagen{
    width: 546.108px;
    height: 326.509px;
    transform: rotate(-13.078deg);
    position: absolute;
    right: 650px;
    top: 2400px;

}
.seccion-3-tercerImagen{
    width: 543.218px;
    height: 325.787px;
    transform: rotate(-26.474deg);
    position: absolute;
    right: 650px;
    top: 2580px;

}
.seccion-3-cuartaImagen{
    width: 546.108px;
    height: 326.509px;
    transform: rotate(-36.016deg);
    position: absolute;
    right: 650px;
    top: 2820px;
    

}


.seccion-4{
    background: #000;
    width: 1280px;
    height: 898px;
    position: absolute;
    top: 2970px;
    z-index:-1;
}
.tituloSeccion-4{
    position: absolute;
    top:  3250px;
    left: 100px;
    width: 667px;
    color: #FFF;   
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; /* 56.7px */
}
.seccion-4-layer{
    width: 1280px;
    height: 100%;
    background-repeat: repeat-x; /*hace que la imagen cuando se 
                            termina en x se pone devuelta la imagen la pone el browser automaticamente*/
    animation-name: scrollDos;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scrollDos {   /* es mover el background position de 0 a la posicion que queremos va de 0 a la que queremos continuamente*/
    0% { background-position-x: 0%; }
    100% { background-position-x: 100%; }
} 

.seccion-4-layer-6{
    position: absolute;
    top:  3500px;
    margin-left: 100px;
    width: 1077.059px;
    height: 527.626px;
    background-image: url("../images/cieloSeccion-4.png");
    animation: scrollDos 5s infinite linear ;
}

.seccion-4-layer-5{
    background-size: cover;

    position: absolute;
    top:  3500px;
    margin-left: 100px;
    width: 1077.059px;
    height: 527.626px;
    background-image: url("../images/capa3-Seccion-4.png");
}

.seccion-4-layer-4{
    background-size: cover;

    position: absolute;
    top:  3500px;
    margin-left: 100px;
    background-image: url("../images/capa2-Seccion-4.png");
    width: 1077.059px;
    height: 527.626px;
}
.seccion-4-layer-3{
    background-size: cover;

    margin-left: 130px;
    position: absolute;
    top:  3443px;
    background-image: url("../images/elasticGirl.png");
    width: 451.258px;
    height: 591.442px;
    transform: rotate(-12.483deg);

}
.seccion-4-layer-2{
    background-size: cover;

    position: absolute;
    top:  3300px;
    margin-left: 550px;
    width: 398px;
    height: 552.462px;
    transform: rotate(13.615deg);
    background-image: url("../images/pantera-removebg-preview.png");

}
.seccion-4-layer-1{
    background-size: cover;

    position: absolute;
    top:  3533px;
    width: 410.106px;
    height: 437.972px;
    transform: rotate(7.515deg);
    margin-left: 790px;
    background-image: url("../images/hulk.png");

}

.tituloSeccion-5{
    position: absolute;
    top: 4700px;
    margin-left: 100px;
    width: 802px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; /* 56.7px */
    }