body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: grey;
}

.container-image {
  display: flex;
}

.image-animation {
  height: 10%;
  display: flex;
}

.image {
  width: 40%;
  height: auto;
  animation: desplazamiento-1 4s linear forwards;
}

@keyframes desplazamiento-1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(50%);
  }
}

.image-2 {
  width: 40%;
  height: auto;
  animation: desplazamiento-2 4s linear forwards;
}

@keyframes desplazamiento-2 {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(50%);
  }
}

.image-3 {
  width: 20%;
  height: auto;
  animation: desplazamiento-3 2s linear forwards;
  margin: 0 auto;
}

@keyframes desplazamiento-3 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(80%);
  }
}

.image-title {
  display: block;
  width: 20%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: titleShow 5s forwards;
}

@keyframes titleShow {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}



.image-2-scroll {
  height: 30%;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; 
  position: sticky;
}

.item img {
  width: 700px;
  height: auto;
}

.text {
  text-align: center;
}

.text h1 {
  margin-bottom: 25px;
}

.text p {
  font-size: 25px;
}
