body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: grey;
}

.container-image {
  display: flex;
}

.image-animation {
  height: 10%;
  display: flex;
}

.image {
  width: 40%;
  height: auto;
  animation: desplazamiento-1 4s linear forwards;
}

@keyframes desplazamiento-1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(50%);
  }
}

.image-2 {
  width: 40%;
  height: auto;
  animation: desplazamiento-2 4s linear forwards;
}

@keyframes desplazamiento-2 {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(50%);
  }
}

.image-3 {
  width: 20%;
  height: auto;
  animation: desplazamiento-3 2s linear forwards;
  margin: 0 auto;
}

@keyframes desplazamiento-3 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(80%);
  }
}

.image-title {
  display: block;
  width: 20%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: titleShow 5s forwards;
}

@keyframes titleShow {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}



/*

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

section.contenedor {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  background-image: url(images/descripcion-imagen-1.png);
  background-repeat: no-repeat;
  background-position:0 50%;
  background-attachment: fixed;
  border-bottom: 1px solid black;
  background-size:  50%;
}



section#item1{
  background-image: url(images/descripcion-imagen-1.png);
}

section#item2{
  background-image: url(images/descripcion-imagen-2.png);
}

section#item3{
  background-image: url(images/descripcion-imagen-3.png);
}

section#item4{
  background-image: url(images/descripcion-imagen-4.png);
}



section.text {
  float: right;
  width: 50%;
  min-height: 400px;
  background-color: rgb(179, 161, 161);
}

h1.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;

}

p.text{
  margin: 20px;
  font-size: 30px;
  color:white ;
}

*/


/* ---------------imagenes scroll ----------------*/


.datos-juego{
    display: grid;
}

.datos-juego h1{
    
    font-family: sans-serif;
    font-size: xx-large
}

.contenido-datos{
    position: relative;
    display: grid;
    justify-items: center;
    min-height: 1900px;
}

.contenido-datos img{
    top: 10%;
}

.contenido{
    display: flex;
    position: sticky;
    width: 85%;
}

.contenido img{
    position: sticky;
    height: 300px;
    width: 550px;
}

.contenido-texto{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contenidos-textos{
    margin-top: 10%;
    position: absolute;
    grid-gap: 250px;
    display: grid;
    flex-direction: column;
    justify-items: right;
}

.contenido-texto h2{
    
    font-size: xx-large
   
}

.contenido-0, .contenido-1, .contenido-2, .contenido-3{
    visibility: hidden;
    position: absolute;
}

.mostrar-imagen{
    position: sticky;
    visibility: visible;
    
}



/* ---------------menu hamburguesa ----------------*/


.menu {
  display: flex;
  flex-direction: column;
  width: 57px;
  height: 43px;
  background-color: blue;
}

.drop-menu {
  display: none;
  width: 200px;
  height: 400px;
  background-color: rgb(255, 255, 76);
  transition: opacity 0.5s ease-in-out; 
  opacity: 0;
  position: absolute;
  z-index: 999; /* menú por encima del contenido */
  border: 2px solid black;
}

.visible {
  display: block;
  opacity: 1;
}

.nav-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.5rem;
}

/* retraso gradual a cada elemento li */
.nav-list li {
  list-style: none; /*para que no esten los puntos*/
  margin-bottom: 50px;
  opacity: 0;
  transform: translateX(-100%);
  animation: slide 0.7s forwards;
}


@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}



li:hover{
  color: black;
}

ul {
  
}


/* animacion*/


.stick-1, .stick-2, .stick-3{
  background-color: #FFE901;
  height: 4px; /*ancho del palo*/
  width: 34px;
  border: 4px solid #2981FF;
  border-radius: 15px;
  transition: all .5s;
  transform-origin:left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); 
  

}

.menu.active .stick-1 {
  transform: rotate(35deg);
}

.menu.active .stick-2 {
  opacity: 0;
}

.menu.active .stick-3 {
  transform: rotate(-35deg);
}






/* para el width , ancho de la imagen por la cantidad de img */
.container-3 {
  width: 69px; /* Ancho de un solo frame */
  height: 200px;
  position: absolute;
  background: url(images/spiderman-Spritesheet-3.png) repeat-x;
  animation: move3 1.5s steps(11) infinite;
  margin-left: 170px;
}

@keyframes move3 {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -847px 0; /* ancho de la img */
  }
}


.container-4 {
  width: 120px; /* Ancho de un solo frame */
  height: 200px;
  position: absolute;
  background: url(images/venom-spritesheet-2.png) repeat-x;
  animation: move3 1.5s steps(8) infinite;
}

@keyframes move3 {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -1600px 0; /* ancho de la img */
  }
}








/* layer nubes y edificios */


.layer-cloud, .layer-building {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.layer-cloud {
  width: 1280px;
  height: 1296px;
  background-image: url(images/cielo.png);
  background-size: cover;
}

.layer-building {
  width: 1280px;
  height: 720px;
  margin-top: 290px;
  background-image: url(images/edificios.png);
  background-size: cover;
}



/* layer plataformas */


.layer-background, .layer-plataforms {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 690px;
}

.layer-background {
  width: 1280px;
  height: 80px;
  background-image: url(images/fondo-plataforma.png);
}

.layer-plataforms {
  width: 1280px;
  height: 75px;
  background-image: url(images/plataformas.png);
  background-repeat: no-repeat;
  margin-left: 90px;
}

/* titulo */
.title-spidey {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 80%;

}
.title-spidey span {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  display: block; /* una linea abajo de otra */
}

/* buscador */
.container-search {
  display: flex;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.search-1 {
  width: 562px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 50px 0px 0px 50px;
  border-top: 9px solid #2982FF;
  border-bottom: 9px solid #2982FF;
  border-left: 9px solid #2982FF;
  background: #FFF;
  box-shadow: 4px 5px 0px 0px #02187E;
  margin-right: 0px;
  z-index: 1;
  
}

.search-2 {
  width: 218px;
  height: 100px;
  border-radius: 0px 50px 50px 0px;
  border: 9px solid #2982FF;
  background: #FFE901;
  box-shadow: 4px 5px 0px 0px #02187E;
  color: #02187E;
  cursor: pointer;
  z-index: 1;
}

/* texto contacto */
.contact {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 80%;
}

.contact span {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  display: block;
}


/* img edad */
.age {
  height: 145px;
  width: 231px;
}

.container-age {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 1;
}



/* ---------------spiderman sprite sheet ----------------*/


.container {
  width: 75px; /* Ancho de un solo frame */
  height: 70px;
  position: absolute;
  top: 78%;
  left: 64%;
  background: url(images/spiderman-Spritesheet-4.png) repeat-x;
  animation: move 3s steps(7) infinite;
  margin-top: 50px;
  z-index: 1;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -759px 0;
  }
}

.container-2 {
  width: 80px;
  height: 110px;
  position: absolute;
  top: 76%;
  left: 66%;
  background: url(images/spiderman-spritesheet-7.png) repeat-x;
  animation: move2 2s steps(12) infinite;
  margin-left: 65px;
  z-index: 1;
  
}

@keyframes move2 {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -960px 0;
  }
}



footer {
  height: 598px;
  width: 1280px;
  background-color: #5E5E5D;
  position: absolute;
  left: 16.4%;
  margin-top: 66px;
}

.text-footer {
  color: white;
  font-size: x-large;
  margin-left: 90px;
  margin-right: 280px;
}

.networks {
  height: 41px;
  width: 212px;
}