body{
    background-color: black;
    margin: 0 auto;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.spin, .loader, .counter {
    display: flex;
    justify-content: center;
    align-items: center;
}


.counter {
    color: white;
    font-size: 40px;
}


.image{
    width: 40%;
    height: 50%;
    animation: spiderman-move 5s infinite;
    
}

@keyframes spiderman-move {
    0% {
        transform: translateY(-50px);
    }
    30% {
        transform: translateY(0px)
        rotate(5deg);
    }
    50% {
        transform: rotate(-5deg) ;
    }
    75% {
        transform: rotate(5deg) ;
    }
    100% {
        transform: translateY(-50px) ;
    }
    
}

.image-2 {
    width: 150px;
    animation: spin 3s linear infinite; 
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}